@charset "UTF-8";

:root {
    --dark-blue: #03318C;
    --light-dark-blue: #033E8C;
    --light-blue: #0367A6;
    --beige: #BFB3A4;
    --light-brown: #A66E4E;
    --font-roboto: 'Roboto', sans-serif;
}

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top, var(--beige), var(--dark-blue) 70%);
    }

    #login-screen {
        width: 80vw;
    }

    #login-screen-image {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login-screen-form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--beige), var(--dark-blue) 70%);
    }

    #login-screen {
        width: 59.375rem;
    }
    
    #login-screen-image {
        float: left;
        width: 50%;
        height: 100%;
    }

    #login-screen-form {
        float: right;
        width: 50%;
    }
}