@charset "UTF-8";

:root {
    --dark-blue: #03318C;
    --light-dark-blue: #033E8C;
    --light-blue: #0367A6;
    --beige: #BFB3A4;
    --light-brown: #A66E4E;
    --font-roboto: 'Roboto', sans-serif;
}

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top, var(--light-brown), var(--dark-blue) 70%);
    }

    #login-screen {
        width: 80vw;
        height: 17.5rem;
    }

    #login-screen-image {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login-screen-form {
        float: right;
        width: 70%;
    }

    .field-container input {
        width: calc(100% - 44px);
        transform: translateY(-7px);
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--light-brown), var(--dark-blue) 70%);
    }

    #login-screen {
        width: 59.375rem;
        height: 21.875rem;
    }
    
    #login-screen-image {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login-screen-form {
        float: left;
        width: 50%;
    }

    #login-screen-form > h1 {
        font-size: 2em;
    }

    #login-screen-form > p {
        font-size: 1.2em;
        margin: 1.25rem 0;
    }

    .field-container input {
        width: calc(100% - 44px);
        transform: translateY(-7px);
    }
}