@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-blue: #03318C;
    --light-dark-blue: #033E8C;
    --light-blue: #0367A6;
    --beige: #BFB3A4;
    --light-brown: #A66E4E;
    --font-roboto: 'Roboto', sans-serif;
}


* {
    font-family: var(--font-roboto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--dark-blue);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login-screen {
  background-color: #fff;
  width: 15.625rem;
  height: 32.188rem;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.450);

  position: absolute;
  top: 50%;
  left: 50%;
  
  transition: width .3s, height .3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
}

#login-screen-image {
    display: block;
    background: var(--light-blue) url(../components/images/login-screen-image.jpg) no-repeat;
    background-size: cover; 
    height: 200px;
}

#login-screen-form {
    display: block;
    padding: 0.625rem;
}

#login-screen-form > h1 {
    text-align: center;
    margin-bottom: 0.625rem;
    color: var(--dark-blue)
}

#login-screen-form > p {
    font-size: 0.8em;
    text-align: center;
}

.field-container {
    background-color: var(--light-dark-blue);
    border: 3px solid var(--light-dark-blue);
    width: 100%;
    height: 2.5rem;
    display: block;
    border-radius: 0.5rem;
    margin: 0.313rem 0;
}

.field-container label {
    display: none;
}

.field-container box-icon {
    color: #FFF;
    font-size: 2em;
    width: 2.5rem;
}

.field-container input {
    background-color: #FFF;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.25rem;
    transform: translateY(-7px);
}

.field-container input:focus-within {
    background-color: #a9cde4de;
    outline: none;
}

.submit-button {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 2.5rem;
    background-color: var(--light-brown);
    color: #fff;
    border: none;
    border: 1px solid var(--light-brown);
    border-radius: 0.313rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--beige);
    border-color: var(--beige);
    transition-duration: .3s;
}

.forgot-password-button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 2.5rem;
    padding-top: 0.438rem;
    margin-top: 0.313rem;
    background-color: var(--light-blue);
    color: #FFF;
    border: 1px solid var(--light-blue);
    border-radius: 0.313rem;
    text-decoration: none; 
}

.forgot-password-button > box-icon {
    height: 0.8em;
}

.forgot-password-button > box-icon:hover {
    color: #FFF;
}

.forgot-password-button:hover {
    background-color: var(--dark-blue);
    color: #FFF;
    transition-duration: .3s;
}